extends layout

block content
  a.google-btn
    div.google-btn__icon-wrapper
      img.google-btn__icon(src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg")
    p.google-btn__text Sign in with Google